<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin
      filename="libignition-gazebo-diff-drive-system.so"
      name="ignition::gazebo::systems::DiffDrive"> <!-- API reference: https://gazebosim.org/api/gazebo/6/classignition_1_1gazebo_1_1systems_1_1DiffDrive.html -->
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.3</wheel_separation>
      <wheel_radius>0.065</wheel_radius>
      <!-- odom_publish_frequency>1</odom_publish_frequency--> <!-- Odometry publication frequency. This element 
                                                               is optional, and the default value is 50Hz.-->
      <!--topic>cmd_vel</topic--> <!-- Custom topic that this system will subscribe to 
                                  in order to receive command velocity messages. 
                                  This element if optional, and the default value is 
                                  /model/{name_of_model}/cmd_vel. -->
    </plugin>
  </gazebo>
    
</robot>