<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="imu">
    <!-- Each sensor must be attached to a link. --> 
    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="-0.10 0 0.05" rpy="0 0 0"/>
    </joint>

    <link name="imu_link">
      <visual>
        <geometry>
          <box size="0.05 0.05 0.05"/>
        </geometry>
      </visual>
    </link>

    <!-- *********************** IMU SENSOR SETUP **************************  -->
    <gazebo reference="imu_link">
      <!--gravity>true</gravity-->
      <sensor name="imu_sensor" type="imu">      
        <!--plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin"-->
        <plugin filename="gz-sim-imu-system"
                name="gz::sim::systems::Imu">
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
          <!--frame_name>imu_link</frame_name-->
          <ros>
            <namespace>/demo</namespace>
            <remapping>~/out:=data</remapping>
          </ros>
        </plugin>        

        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>

        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>